# Javascript builds
.DS_Store
build
node_modules

# package managers
npm-debug.log*
yarn-error.log*
package-lock.json

.eslintcache
# IDEs and editors
.idea
.project
.classpath
.c9
*.launch
.settings
*.sublime-workspace
.history
.vscode
# For vim
*.swp
