body,
html {
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#app {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pf-c-table thead th {
    color: var(--pf-global--palette--black-600);
}
