body,
html {
    font-size: 16px;
    text-rendering: optimizeLegibility;
    overflow: hidden;
}

#app {
    height: 100%;
}

.cursor-pointer {
    cursor: pointer;
}

.text-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.pf-c-table thead .align-th-right>button {
    position: absolute;
    right: 0;
    top: 3px;
}

.pf-c-table thead .align-th-right {
    text-align: end;
}

.pf-c-table tbody .align-td-right {
    text-align: end;
}