.sk-table-border-gray {
  border: 1px solid var(--pf-global--palette--black-300);
}

.sk-table-border-blue {
  border: 1px solid var(--pf-global--palette--blue-100);
}

.sk-table-border-green {
  border: 1px solid var(--pf-global--palette--green-100);
}

.sk-table-border-purple {
  border: 1px solid var(--pf-global--palette--purple-100);
}

.sk-table-bg-gray {
  background-color: var(--pf-global--palette--black-300);
}

.sk-table-bg-blue {
  background-color: var(--pf-global--palette--blue-100);
}

.sk-table-bg-green {
  background-color: var(--pf-global--palette--green-100);
}

.sk-table-bg-purple {
  background-color: var(--pf-global--palette--purple-100);
}

.sk-overview-table-label {
  position: relative;
  top: -2.3em;
  left: 1em;
}

.sk-overview-table .sk-overview-table-empty {
  margin: auto; /* centers horizontally in parent */
}

.sk-overview-row-current {
  background-color: #efefef;
}

.sk-overview-table .sk-overview-table-current-sitename {
  font-weight: bold;
}
