.sk-topology-controls {
  position: absolute;
  bottom: 0;
  left: var(--pf-t--global--spacer--lg);
}

.sk-topology-control-bar__button {
  margin-right: var(--pf-t--global--spacer--gap--control-to-control--default);
  margin-top: var(--pf-t--global--spacer--xs);
  border: none;
  border-radius: var(--pf-t--global--border--radius--small);
  box-shadow: var(--pf-t--global--box-shadow--sm);
  background-color: var(--pf-t--color--white);
}
.sk-topology-control-bar__button:after {
  display: none;
}
.sk-topology-control-bar__button:hover {
  border: none;
  box-shadow: var(--pf-t--global--box-shadow--md);
}
