.flows-table tbody tr {
    cursor: pointer;

    &:hover {
        background-color: var(--pf-global--palette--black-200);
    }

    &.selected {
        background-color: var(--pf-global--palette--black-200);
    }
}
