.flows-table tbody {
    & .flow-row {
        cursor: pointer;

        &:hover {
            background-color: var(--pf-global--palette--black-200);
        }

        &.selected {
            background-color: var(--pf-global--palette--black-200);
        }
    }

    & .flow-no-connection-target-warning {
        cursor: pointer;
        background-color: var(--pf-global--palette--gold-100);
    }
}
