.sk-resource-icon {
    background-color: var(--pf-global--palette--black-500);
    border-radius: 20px;
    color: var(--pf-global--palette--white);
    display: inline-block;
    flex-shrink: 0;
    font-size: 14px;
    line-height: 16px;
    margin-right: 4px;
    min-width: 18px;
    padding: 1px 4px;
    text-align: center;
    white-space: nowrap;
}

.sk-resource-site {
    background-color: var(--pf-global--palette--purple-500);
}

.sk-resource-service {
    background-color: var(--pf-global--palette--blue-200);
}

.sk-resource-deployment {
    background-color: var(--pf-global--palette--red-100);
}

.sk-resource-services {
    background-color: var(--pf-global--palette--green-500);
}