.sk-resource-icon {
  background-color: var(--pf-global--palette--black-500);
  border-radius: 20px;
  color: var(--pf-global--palette--white);
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  line-height: 16px;
  margin-right: 4px;
  min-width: 18px;
  padding: 1px 4px;
  text-align: center;
  white-space: nowrap;

  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.sk-resource-site {
  background-color: var(--pf-global--palette--purple-500);
}

.sk-resource-process-group {
  background-color: var(--pf-global--palette--blue-200);
}

.sk-resource-deployment {
  background-color: var(--pf-global--palette--red-100);
}

.sk-resource-address {
  background-color: var(--pf-global--palette--green-500);
}

.sk-resource-process {
  background-color: var(--pf-global--palette--orange-300);
}

.sk-resource-skupper {
  margin-left: -5px;
  min-width: 32px;
  background-color: transparent;
}
