.sk-table .secondary-color {
    background-color: var(--pf-global--palette--black-100);
    border-right: 1px solid var(--pf-global--palette--black-100);
}

.sk-table .td-border-right {
    border-right: 1px solid var(--pf-global--palette--black-300);
}
