.sk-loading-page {
  .cog-wrapper {
    position: relative;
    margin: auto;
    width: 5.5em;
    height: 5em;

    .cog {
      position: absolute;

      &-main {
        width: 4em;
        height: 4em;
        top: 0.5em;
        left: 0;
      }

      &-secondary {
        width: 2em;
        height: 2em;
      }

      &-upper {
        top: 0;
        right: 0;
      }

      &-lower {
        bottom: 0;
        right: 0;
      }
    }

    .spinning-clockwise {
      animation: spin 4s linear infinite;
    }

    .spinning-clockwise--reverse {
      animation: spin 4s linear infinite reverse;
    }

    @keyframes spin {
      100% {
        transform: rotate(360deg);
      }
    }
  }
}
