body,
html {
  font-size: 16px;
}

/* Override Patternfly classes */
.pf-c-page__main {
  z-index: 0 !important;
}

/* Layout */
#app {
  height: 100%;
}

/* Resource icon */
.sk-resource-icon {
  background-color: var(--pf-global--palette--black-500);
  border-radius: 50%;
  color: var(--pf-global--palette--black-100);
  display: inline-block;
  font-size: 10px;
  font-weight: 600;
  line-height: 19px;
  margin-right: 4px;
  min-width: 18px;
  text-align: center;
  white-space: nowrap;

  box-shadow: inset -4px -4px 5px rgba(0, 0, 0, 0.3);
}

.sk-resource-site {
  background-color: var(--pf-global--palette--purple-300);
}

.sk-resource-process-group {
  background-color: var(--pf-global--palette--blue-300);
}

.sk-resource-service {
  background-color: var(--pf-global--palette--green-300);
}

.sk-resource-process {
  background-color: var(--pf-global--palette--orange-300);
}

.sk-resource-skupper {
  margin-left: -5px;
  min-width: 32px;
  background-color: transparent;
}

/* Loader */
.sk-loading-page {
  background: linear-gradient(to bottom, rgb(202, 215, 228) 0%, var(--pf-global--palette--black-100) 80%);
}
.sk-loading-page .cog-wrapper {
  position: relative;
  margin: auto;
  width: 5.5em;
  height: 5em;
}

.sk-loading-page .cog-wrapper .cog {
  position: absolute;
}

.sk-loading-page .cog-wrapper .cog-main {
  width: 4em;
  height: 4em;
  top: 0.5em;
  left: 0;
}

.sk-loading-page .cog-wrapper .cog-secondary {
  width: 2em;
  height: 2em;
}

.sk-loading-page .cog-wrapper .cog-upper {
  top: 0;
  right: 0;
}

.sk-loading-page .cog-wrapper .cog-lower {
  bottom: 0;
  right: 0;
}

.sk-loading-page .cog-wrapper .spinning-clockwise {
  animation: spin 4s linear infinite;
}

.sk-loading-page .cog-wrapper .spinning-clockwise--reverse {
  animation: spin 4s linear infinite reverse;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
