body,
html {
  font-size: 16px;
}

/* Layout */
#app {
  height: 100%;
}

/* Resource icon */
.sk-resource-icon {
  background-color: var(--pf-global--palette--black-500);
  border-radius: 50%;
  color: var(--pf-global--palette--white);
  display: inline-block;
  flex-shrink: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-right: 4px;
  min-width: 18px;
  padding: 1px 4px;
  text-align: center;
  white-space: nowrap;
}

.sk-resource-site {
  background-color: var(--pf-global--palette--green-600);
}

.sk-resource-process-group {
  background-color: var(--pf-global--palette--light-green-500);
}

.sk-resource-service {
  background-color: var(--pf-global--palette--purple-500);
}

.sk-resource-process {
  background-color: var(--pf-global--palette--cyan-300);
}

.sk-resource-skupper {
  margin-left: -5px;
  min-width: 32px;
  background-color: transparent;
}

/* Loader */
.sk-loading-page .cog-wrapper {
  position: relative;
  margin: auto;
  width: 5.5em;
  height: 5em;
}

.sk-loading-page .cog-wrapper .cog {
  position: absolute;
}

.sk-loading-page .cog-wrapper .cog-main {
  width: 4em;
  height: 4em;
  top: 0.5em;
  left: 0;
}

.sk-loading-page .cog-wrapper .cog-secondary {
  width: 2em;
  height: 2em;
}

.sk-loading-page .cog-wrapper .cog-upper {
  top: 0;
  right: 0;
}

.sk-loading-page .cog-wrapper .cog-lower {
  bottom: 0;
  right: 0;
}

.sk-loading-page .cog-wrapper .spinning-clockwise {
  animation: spin 4s linear infinite;
}

.sk-loading-page .cog-wrapper .spinning-clockwise--reverse {
  animation: spin 4s linear infinite reverse;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.pf-c-nav__link {
  transition: 0.3s;
}

.pf-c-page__sidebar.pf-m-collapsed {
  transition: max-width 0.15s ease-in-out;
}

.pf-c-page__sidebar.pf-m-expanded {
  transition: max-width 0.15s ease-in-out;
  max-width: 100%;
}

.sk-divider {
  background-color: var(--pf-global--palette--black-300);
}
