body,
html {
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

#app {
  height: 100%;
}

.app-main-container {
  background-color: var(--pf-global--BackgroundColor--100);
}

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
