.flows-table tbody .flow-row:hover {
    background-color: var(--pf-global--palette--black-200);
}

.flows-table tbody .flow-no-connection-target-warning {
    background-color: var(--pf-global--palette--gold-100);
}

.flows-table thead .align-th-right>button {
    position: absolute;
    right: 0;
    top: 3px;
}

.flows-table tbody .align-td-right {
    text-align: end;
}

.flows-table .secondary-color {
    background-color: var(--pf-global--palette--black-200);
}


.van-services-table thead .align-th-right {
    text-align: end;
}

.van-services-table tbody .align-td-right {
    text-align: end;
}